@import url("https://api.fontshare.com/v2/css?f[]=general-sans@200,500,300,600,400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  color: #181818 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.massive-cont{
  align-items: start;
  height: 100vh
  width: 80%;
  display: flex;
  flex-direction: column;
}
.sec-title{
  width: 38%;
  display: flex;
  align-items: start;
}

.sec-title > h1{
  color: #181818;
  font-weight: 600;
  margin: 10px;
  font-size: 1.5rem;
}

.container {
  width: 61%;
  display: flex;
  align-items: center;
}

.accordion button {
  font-size: 1rem;
}

.accordion .accordion-content p {
  font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
  .massive-cont {
    flex-direction: row;
    justify-content: space-between;
  }

  .sec-title > h1{
    font-size: 54px;
  }

  .container {
    width: 54%;
  }

  .accordion button {
    font-size: 1.15rem;
  }

  .accordion .accordion-content p {
    font-size: 1rem;
  }
}


.accordion .accordion-item {
border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
border-bottom: none;
}

.accordion button {
position: relative;
display: block;
text-align: left;
width: 100%;
padding: 1em 0;
color: #181818;
font-size: 1.15rem;
font-weight: 700;
border: none;
background: none;
outline: none;
}

.accordion button:hover,
.accordion button:focus {
cursor: pointer;
color: #181818;
}

.accordion button:hover::after,
.accordion button:focus::after {
cursor: pointer;
color: #181818;
border: 1px solid #181818;
}

.accordion button .accordion-title {
padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
display: inline-block;
position: absolute;
top: 18px;
right: 0;
width: 22px;
height: 22px;
border: none;
border-radius: 22px;
}

.accordion button .icon::before {
display: block;
position: absolute;
content: '';
top: 9px;
left: 5px;
width: 10px;
height: 2px;
background: currentColor;
}
.accordion button .icon::after {
display: block;
position: absolute;
content: '';
top: 5px;
left: 9px;
width: 2px;
height: 10px;
background: currentColor;
}

.accordion button[aria-expanded='true'] {
color: #181818;
}
.accordion button[aria-expanded='true'] .icon::after {
width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
opacity: 1;
max-height: 9em;
transition: all 200ms linear;
will-change: opacity, max-height;
}
.accordion .accordion-content {
opacity: 0;
max-height: 0;
overflow: hidden;
transition: opacity 200ms linear, max-height 200ms linear;
will-change: opacity, max-height;
}
.accordion .accordion-content p {
font-size: 1rem;
font-weight: 400;
margin: 2em 0;

}
body > div > div.container > div > div:nth-child(1) > div > p, body > div > div.container > div > div:nth-child(2) > div > p, body > div > div.container > div > div:nth-child(3) > div > p, body > div > div.container > div > div:nth-child(4) > div > p, body > div > div.container > div > div:nth-child(5) > div > p{
margin: 0 0 20px 0;
color: #191919 !important;
font-weight: 400;
font-family: 'DM Sans', sans-serif !important;
}

@media screen and (max-width: 1300px){
  .accordion .accordion-content p{
	font-size: 1.3vw;
}
  .accordion button{
    font-size: 1.3vw;
  }
  #label_5{
	font-size: 19px;
}
#label_input_5_0{
	font-size: 11px;
}
  div.sec-title > h1{
    font-size: 3.5vw;
  }
}



/*mobile responsive*/
@media screen and (max-width: 500px){
  body{
    align-items: start;
  }
.massive-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  flex-grow: 5;
}
  .sec-title {
    margin: auto;
    max-width: 100%;
    width: 100%;
    display: block;
  }
  .sec-title > h1{
    text-align: center;
    font-size: 9vw;
    margin: 10px 10px 30px 10px;
  }
  .container {
    width: 90%;
    margin: auto;
    display: block;
  }
  .accordion button{
    font-size: 4vw;
    font-weight: 600;
  }
  .accordion .accordion-content p {
    font-size: 3.8vw;
  }
  @media screen and (max-width: 480px){
.sec-title > h1 {
    text-align: center;
    font-size: 9vw !important;
}
	}
